<header>
  <div id="social">
    <a href="https://github.com/kiyoshiMizuki"> <img src="./img/github.png" alt="GitHub"> </a>
    <a href="https://kiyoshimizuki.itch.io"> <img src="./img/itchio.png" alt="itch.io"> </a>
    <a href="https://t.me/kiyoshimizuki"> <img src="./img/telegram.png" alt="Telegram"> </a>
    <a href="https://twitter.com/kiyoshiMKDD"> <img src="./img/twitter.png" alt="Twitter"> </a>
    <a href="https://www.youtube.com/channel/UCEfeZOdzT9sdQ4iR9XeKJUQ"> <img src="./img/youtube.png" alt="YouTube"> </a>
  </div>
  <div>
    <a href="index.html"> <img src="./img/kiyoshi.png" alt="Kiyoshi"> </a>
    <h2> Game Developer & Designer <span class="maicolor"> • </span> <span id="pronouns""> he / him </span> </h2>
  </div>
</header>
